body {
    background: #ADD8E6;
    text-align: center;
  }

h1 {
    background: #0e00cf ;
    color:white;
}

h2 {
    background: #1E90FF ;
    color:#ffffff;
}

#contato {
    margin-left: 70%;
    text-align: left;
}

#contatoFonte {
    margin-left: 75%;
    text-align: left;
    font-size: 12px;
}

