body {
    background: #ADD8E6;
    text-align: center;
  }
.Cabeçalho {
    text-align: left;
}

h1 {
    background: #a9cf00;
    color:white;
}

#imagem-1 {
    width: 20%;
}
 h2 {
    background: #1E90FF;
    color: #f4e805;
}

.historico {
    text-align: center;
}

#imagem-2 {
        width: 30%;
        margin-block-end: 0%;

}

#imagem-3 {
        width: 30%;
        margin-right: 90%;
}

#contato {
    margin-left: 75%;
    text-align: left;

}

#contatoFonte {
    margin-left: 75%;
    text-align: left;
    font-size: 12px;
}

